
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/hs.megamenu.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

<title>Hello, world!</title>
  </head>
  <body>
<!--navbar-->
<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--white-nav-links-md u-header--abs-top-col-xs u-header--abs-top-sm u-header--show-hide-sm u-header--abs-top-md u-header--abs-top-lg u-header--show-hide-lg"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <div class="u-header__section">
    <!-- Topbar -->
    <div class="container u-header__hide-content pt-2">
      <div class="d-flex align-items-center">
        <div class="ml-auto">
          <!-- Jump To -->
          <div class="d-inline-block d-sm-none position-relative mr-2">
            <a id="jumpToDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
               aria-controls="jumpToDropdown"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="hover"
               data-unfold-target="#jumpToDropdown"
               data-unfold-type="css-animation"
               data-unfold-duration="300"
               data-unfold-delay="300"
               data-unfold-hide-on-scroll="true"
               data-unfold-animation-in="slideInUp"
               data-unfold-animation-out="fadeOut">
              Jump to
            </a>

            <div id="jumpToDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="jumpToDropdownInvoker">
              <a class="dropdown-item" href="../pages/help.html">Help</a>
              <a class="dropdown-item" href="../pages/contacts-agency.html">Contacts</a>
            </div>
          </div>
          <!-- End Jump To -->

          <!-- Links -->
          <div class="d-none d-sm-inline-block ml-sm-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-0">
                <a class="u-header__navbar-link" href="../pages/help.html">+91-20-26054010</a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="u-header__navbar-link" href="../pages/contacts-agency.html">Contact Us</a>
              </li>
            </ul>
          </div>
          <!-- End Links -->
        </div>
      </div>
    </div>
    <!-- End Topbar -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="index.html" aria-label="Front">
          <img src="assets/img/logo.png" alt="">
          <!-- <span class="u-header__navbar-brand-text">Teetz</span> -->
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <!-- Home -->
            <li class="nav-item  u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">Home</a>
            </li>
            <!-- End Home -->

            <!-- Pages -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut">
              <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">About</a>

              <!-- Pages - Submenu -->
              <ul id="pagesSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                <!-- Account -->
                <li >
                  <a  class="nav-link u-header__sub-menu-nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAccount">Why Us</a>
                </li>
                <li>
                  <a  class="nav-link u-header__sub-menu-nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAccount">Our Team</a>
                </li>
                <li>
                  <a  class="nav-link u-header__sub-menu-nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAccount">Gallery</a>
                </li>
                <!-- End Portfolio -->
              </ul>
              <!-- End Pages - Submenu -->
            </li>
            <!-- End Pages -->

            <!-- Blog -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut">
              <a id="blogMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Services</a>

              <!-- Blog - Submenu -->
              <ul id="blogSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                <!-- Classic -->
                <li class="hs-has-sub-menu">
                  <a class="nav-link u-header__sub-menu-nav-link" href="javascript:;" >Tooth extraction</a>
                </li>
                <li class="hs-has-sub-menu">
                  <a class="nav-link u-header__sub-menu-nav-link" href="javascript:;" >Dental implants</a>
                </li>
                <li class="hs-has-sub-menu">
                  <a class="nav-link u-header__sub-menu-nav-link" href="javascript:;" >Bone grafting</a>
                </li>
                <li class="hs-has-sub-menu">
                  <a class="nav-link u-header__sub-menu-nav-link" href="javascript:;" >Veneers</a>
                </li>
                <li class="hs-has-sub-menu">
                  <a class="nav-link u-header__sub-menu-nav-link" href="javascript:;" >Cleaning</a>
                </li>
                <li class="hs-has-sub-menu">
                  <a class="nav-link u-header__sub-menu-nav-link" href="javascript:;" >Bleaching/Whitening</a>
              </li>
                <!-- Single Article -->
              </ul>
            </li>
            <li class="nav-item  u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">Testimonial</a>
            </li>
            <li class="nav-item  u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false"> Events</a>
            </li>
            <!-- <li class="nav-item  u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">Membership</a>
            </li> -->
            <!-- Button -->
            <li class="nav-item u-header__nav-last-item">
              <a class="btn btn-sm bg-secondary text-light transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
               Appointment
              </a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
<!--end-->
<!--banner-->
<!-- Hero v1 Section -->
<div class="u-hero-v1">
  <!-- Hero Carousel Main -->
  <div id="heroNav" class="js-slick-carousel u-slick"
       data-autoplay="true"
       data-speed="10000"
       data-adaptive-height="true"
       data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
       data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
       data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
       data-numbered-pagination="#slickPaging"
       data-nav-for="#heroNavThumb">
    <div class="js-slide">
      <!-- Slide #1 -->
      <div class="d-lg-flex align-items-lg-center u-hero-v1__main" style="background-image: url(assets/img/banner.jpg);">
        <div class="container space-3 space-top-md-5 space-top-lg-5">
          <div class="row">
            <div class="col-md-8 col-lg-6 position-relative">
              <span class="d-block h4 text-white font-weight-light mb-2"
                    data-scs-animation-in="fadeInUp">
                    Take the Worlds best Quality treatment
              </span>
              <h1 class="text-white display-4 font-size-md-down-5 mb-0"
                  data-scs-animation-in="fadeInUp"
                  data-scs-animation-delay="200">
                  <span> Professional and affordable dentistry..!
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slide #1 -->
    </div>

    <div class="js-slide">
      <!-- Slide #2 -->
      <div class="d-lg-flex align-items-lg-center u-hero-v1__main" style="background-image: url(assets/img/banner-2.jpg);">
        <div class="container space-3 space-top-md-5 space-top-lg-5">
          <div class="row">
            <div class="col-md-8 col-lg-6">
              <span class="d-block h4 text-white font-weight-light mb-2"
                    data-scs-animation-in="fadeInUp">
                prevention to perfection
              </span>
              <h2 class="text-white display-4 font-size-md-down-5 mb-0"
                  data-scs-animation-in="fadeInUp"
                  data-scs-animation-delay="200">
                 we are here to your happy smile..:)
              </h2>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slide #2 -->
    </div>
  </div>
  <!-- End Hero Carousel Main -->

  <!-- Slick Paging -->
  <div class="container position-relative">
    <div id="slickPaging" class="u-slick__paging"></div>
  </div>
  <!-- End Slick Paging -->

  <!-- Hero Carousel Secondary -->
  <div id="heroNavThumb" class="js-slick-carousel u-slick"
       data-autoplay="true"
       data-speed="10000"
       data-is-thumbs="true"
       data-nav-for="#heroNav">
    <div class="js-slide">
      <!-- Slide #1 -->
      <div class="d-flex align-items-center bg-white u-hero-v1__secondary">
        <div class="container space-2">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="h5 text-muted">
                <strong class="d-block">01.</strong>
                <strong class="d-block text-primary">Teeth Whitening</strong>
              </h3>
              <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, of</p>
            </div>
          </div>
        </div>

        <div class="w-100 h-100 d-none d-lg-inline-block bg-primary u-hero-v1__last">
          <div class="u-hero-v1__last-inner">
          <h3 class="h5 text-muted">
                <strong class="d-block">02.</strong>
                <strong class="d-block text-light">Implantology</strong>
              </h3>
              <p class="mb-0 text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, of</p>
          </div>
        </div>
      </div>
      <!-- End Slide #1 -->
    </div>

    <div class="js-slide">
      <!-- Slide #2 -->
      <div class="d-flex align-items-center bg-white u-hero-v1__secondary">
        <div class="container space-2">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="h5 text-muted">
                <strong class="d-block">03.</strong>
                <strong class="d-block color-secondary">General Dental Care</strong>
              </h3>
              <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, molestias!</p>
            </div>
          </div>
        </div>

        <div class="w-100 h-100 d-none d-lg-inline-block bg-secondary u-hero-v1__last">
          <div class="u-hero-v1__last-inner">
          <h3 class="h5 text-muted">
                <strong class="d-block ">04.</strong>
                <strong class="d-block text-light">Restorative Dentistry/Fillings</strong>
              </h3>
              <p class="mb-0 text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, molestias!</p>
          </div>
        </div>
      </div>
      <!-- End Slide #2 -->
    </div>
  </div>
  <!-- End Hero Carousel Secondary -->
</div>
<!-- End Hero v1 Section -->
<!--End-->
<hr class="my-0">
  <!-- Front in Frames Section -->
  <div class="overflow-hidden">
      <div class="container space-2 space-md-3">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <div class="pr-md-4">
              <!-- Title -->
              <div class="mb-7">
                <span class="btn btn-xs btn-soft-success btn-pill mb-2">About</span>
                <h2 class="text-primary">Welcome to <span class="font-weight-semi-bold">TEETHZZ</span></h2>
                <p>Enhance your brand with easy-to-use powerful customization features.</p>
                <p>The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
              </div>
              <!-- End Title -->

              <a class="btn btn-sm bg-secondary text-light btn-wide transition-3d-hover" href="index.html">Find out More <span class="fas fa-angle-right ml-2"></span></a>
            </div>
          </div>

          <div class="col-lg-6 position-relative">
            <!-- Image Gallery -->
            <div class="row mx-gutters-2">
              <div class="col-5 align-self-end px-2 mb-3">
                <!-- Fancybox -->
                <a class="js-fancybox u-media-viewer" href="javascript:;"
                   data-src="assets/img/teetzz-dental-clinic.jpg"
                   data-fancybox="lightbox-gallery-hidden"
                   data-caption="Front in frames - image #01"
                   data-speed="700">
                  <img class="img-fluid rounded" src="assets/img/teetzz-dental-clinic-thumb.jpg" alt="Image Description">

                  <span class="u-media-viewer__container">
                    <span class="u-media-viewer__icon">
                      <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                    </span>
                  </span>
                </a>
                <!-- End Fancybox -->
              </div>

              <div class="col-7 px-2 mb-3">
                <!-- Fancybox -->
                <a class="js-fancybox u-media-viewer" href="javascript:;"
                   data-src="assets/img/img-2.jpg"
                   data-fancybox="lightbox-gallery-hidden"
                   data-caption="Front in frames - image #02"
                   data-speed="700">
                  <img class="img-fluid rounded" src="assets/img/img-2-thumb.jpg" alt="Image Description">

                  <span class="u-media-viewer__container">
                    <span class="u-media-viewer__icon">
                      <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                    </span>
                  </span>
                </a>
                <!-- End Fancybox -->
              </div>

              <div class="col-5 offset-1 px-2 mb-3">
                <!-- Fancybox -->
                <a class="js-fancybox u-media-viewer" href="javascript:;"
                   data-src="assets/img/img-3.jpg"
                   data-fancybox="lightbox-gallery-hidden"
                   data-caption="Front in frames - image #03"
                   data-speed="700">
                  <img class="img-fluid rounded" src="assets/img/img-3-thumb.jpg" alt="Image Description">

                  <span class="u-media-viewer__container">
                    <span class="u-media-viewer__icon">
                      <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                    </span>
                  </span>
                </a>
                <!-- End Fancybox -->
              </div>

              <div class="col-5 px-2 mb-3">
                <!-- Fancybox -->
                <a class="js-fancybox u-media-viewer" href="javascript:;"
                   data-src="assets/img/img-4.jpg"
                   data-fancybox="lightbox-gallery-hidden"
                   data-caption="Front in frames - image #04"
                   data-speed="700">
                  <img class="img-fluid rounded" src="assets/img/img-4-thumb.jpg" alt="Image Description">

                  <span class="u-media-viewer__container">
                    <span class="u-media-viewer__icon">
                      <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                    </span>
                  </span>
                </a>
                <!-- End Fancybox -->
              </div>
            </div>
            <!-- End Image Gallery -->

            <!-- SVG Background Shape -->
            <div id="SVGbgShapeID1" class="svg-preloader w-100 content-centered-y z-index-n1">
              <figure class="ie-soft-triangle-shape">
                <img class="js-svg-injector" src="assets/img/soft-triangle-shape.svg" alt="Image Description"
                     data-parent="#SVGbgShapeID1">
              </figure>
            </div>
            <!-- End SVG Background Shape -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Front in Frames Section -->
    
    <!-- Icon Blocks Section -->
    <div class="container space-top-0 space-bottom-md-3 space-bottom-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">What we do?</span>
        <h2>The various services that we provide at our clinic</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 mb-7">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-5">
             <img src="assets/img/dental-implant.png" alt="">
            </span>
            <h3 class="h5">Dental Implants</h3>
            <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <img src="assets/img/canal.png" alt="">
            </span>
            <h3 class="h5">Root Canal</h3>
            <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
               <img src="assets/img/healthy-tooth.png" alt="">
            </span>
            <h3 class="h5">Teeth Whitening</h3>
            <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-7">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-5">
            <img src="assets/img/wisdom-tooth.png" alt="">
            </span>
            <h3 class="h5">Wisdom Teeth</h3>
            <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <img src="assets/img/tooth.png" alt="">
            </span>
            <h3 class="h5">Crowns Bridges</h3>
            <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p>
          </div>
        </div>

        <div class="col-md-4 mb-7">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
            <img src="assets/img/teeth.png" alt="">
            </span>
            <h3 class="h5">Cosmetic Dentis</h3>
            <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
          </div>
        </div>
      </div>
      <img class="img-fluid d-none d-md-block w-75 mx-auto mb-7" src="assets/img/pointer-1.svg" alt="SVG Arrow">

      <!-- Title -->
      <div class="w-md-60 w-lg-50 text-center mx-auto mb-7">
        <h4 class="h5">
        Schedule your appointment & be assured of a through diagnosis. </span>
        </h4>
        <a class="btn bg-secondary text-light btn-wide transition-3d-hover" href="#">Request an Appointment</a>
      </div>
      <!-- End Title -->

      <div class="w-50 w-md-40 w-lg-30 text-center mx-auto">
        <p class="small"> We treat each individual as per there own need and satisfaction.</p>
      </div>
    </div>
    <!-- End Icon Blocks Section -->  
  <!-- Testimonials Section -->
<div id="SVGdoubleEllipseTopRight" class="svg-preloader position-relative bg-light">
  <div class="container space-2 position-relative z-index-2">
    <div class="row">
      <div class="col-lg-4 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <!-- SVG Quote -->
          <figure class="mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px"
               viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
              <path class="fill-gray-300" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
            </svg>
          </figure>
          <!-- End SVG Quote -->

          <h2 class="font-weight-normal mb-4">What Teethzz happy customers speaks</h2>

          <!-- Review -->
          <div class="d-flex align-items-center">
            <ul class="list-inline mr-3 mb-0">
              <li class="list-inline-item text-warning">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </li>
            </ul>

            <span class="text-secondary">Review</span>
          </div>
          <!-- End Review -->
        </div>
      </div>

      <div class="col-lg-8">
        <div class="js-slick-carousel u-slick u-slick--gutters-3"
             data-slides-show="2"
             data-autoplay="true"
             data-speed="5000"
             data-infinite="true"
             data-center-mode="true"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <div class="js-slide my-4">
            <!-- Testimonial -->
            <div class="card border-0 shadow-sm mb-4">
              <div class="card-body p-6">
                <p>The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
              </div>
            </div>

            <div class="media ml-6">
              <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100" alt="Image Description">
              </div>
              <div class="media-body">
                <h4 class="h6 mb-0">Maria Muszynska</h4>
                <p class="small">Google</p>
              </div>
            </div>
            <!-- End Testimonial -->
          </div>

          <div class="js-slide my-4">
            <!-- Testimonial -->
            <div class="card border-0 shadow-sm mb-4">
              <div class="card-body p-6">
                <p>The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
              </div>
            </div>

            <div class="media ml-6">
              <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100" alt="Image Description">
              </div>
              <div class="media-body">
                <h4 class="h6 mb-0">Massalha Shady</h4>
                <p class="small">Apple</p>
              </div>
            </div>
            <!-- End Testimonial -->
          </div>

          <div class="js-slide my-4">
            <!-- Testimonial -->
            <div class="card border-0 shadow-sm mb-4">
              <div class="card-body p-6">
                <p>The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
              </div>
            </div>

            <div class="media ml-6">
              <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100" alt="Image Description">
              </div>
              <div class="media-body">
                <h4 class="h6 mb-0">Mark McManus</h4>
                <p class="small">Microsoft</p>
              </div>
            </div>
            <!-- End Testimonial -->
          </div>

          <div class="js-slide my-4">
            <!-- Testimonial -->
            <div class="card border-0 shadow-sm mb-4">
              <div class="card-body p-6">
                <p>The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
              </div>
            </div>

            <div class="media ml-6">
              <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100" alt="Image Description">
              </div>
              <div class="media-body">
                <h4 class="h6 mb-0">Alex Pottorf</h4>
                <p class="small">Github</p>
              </div>
            </div>
            <!-- End Testimonial -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SVG Bottom Right Shapes -->
  <div class="position-absolute top-0 right-0 w-75 w-md-60 w-lg-35">
    <figure class="ie-double-ellipse-top-right">
      <img class="js-svg-injector" src="assets/img/double-ellipse-top-right.svg" alt="Image Description"
           data-parent="#SVGdoubleEllipseTopRight">
    </figure>
  </div>
  <!-- End SVG Bottom Right Shapes -->
</div>
<!-- End Testimonials Section -->
<section id="apointment-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="content">
                <p>With acess to</p>
                <h3><span class="text-primary">24 Hour</span><br>Emergency</h3>
                <h4>Assistance</h4>
                <p>
                A small river named Duden flows by their place and supplies it with the necessary regavelialia. It is a paradise.
                </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="outer-box">
                    <p>Need emergancy?</p>
                    <h2>Book an <span class="text-primary">Appointment</span></h2>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Age">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Appointment Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Select Time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name=""  class="form-control" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="submit" class="btn-submit" value="Make an Apoointment">
                            </div>
                        </div>
                    </div>
                </diV>
            </div>
        </div>
    </div>
</section>
    <!-- Contacts Info Section -->
<div class="clearfix space-2">
  <div class="row no-gutters">
    <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
      <!-- Contacts Info -->
      <div class="text-center py-5">
        <figure id="icon8" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
          <img class="js-svg-injector" src="assets/img/icon-8.svg" alt="SVG"
               data-parent="#icon8">
        </figure>
        <h2 class="h6 mb-0">Address</h2>
        <p class="mb-0">153 Williamson Plaza, 09514</p>
      </div>
      <!-- End Contacts Info -->
    </div>

    <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
      <!-- Contacts Info -->
      <div class="text-center py-5">
        <figure id="icon15" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
          <img class="js-svg-injector" src="assets/img/icon-15.svg" alt="SVG"
               data-parent="#icon15">
        </figure>
        <h3 class="h6 mb-0">Email</h3>
        <p class="mb-0">support@teetzz.com</p>
      </div>
      <!-- End Contacts Info -->
    </div>

    <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
      <!-- Contacts Info -->
      <div class="text-center py-5">
        <figure id="icon16" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
          <img class="js-svg-injector" src="assets/img/icon-16.svg" alt="SVG"
               data-parent="#icon16">
        </figure>
        <h3 class="h6 mb-0">Phone Number</h3>
        <p class="mb-0">+1 (062) 109-9222</p>
      </div>
      <!-- End Contacts Info -->
    </div>

    <div class="col-sm-6 col-lg-3">
      <!-- Contacts Info -->
      <div class="text-center py-5">
        <figure id="icon17" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
          <img class="js-svg-injector" src="assets/img/icon-17.svg" alt="SVG"
               data-parent="#icon17">
        </figure>
        <h3 class="h6 mb-0">Working Hours</h3>
        <p class="mb-0">9:00 Am - 5:00 Pm</p>
      </div>
      <!-- End Contacts Info -->
    </div>
  </div>
</div>
<!-- End Contacts Info Section -->
<!-- ========== FOOTER ========== -->
<footer id="SVGcurvedShape" class="svg-preloader">
  <!-- SVG Shape -->
  <figure>
    <img class="js-svg-injector" src="assets/img/curved-2.svg" alt="Image Description"
         data-parent="#SVGcurvedShape">
  </figure>
  <!-- End SVG Shape -->

  <!-- Content -->
  <div class="bg-dark">
    <div class="container space-2 space-md-3">
      <div class="row justify-content-lg-between">
        <div class="col-lg-4 d-flex align-items-start flex-column mb-7 mb-lg-0">
          <!-- Logo -->
          <a class="d-flex align-items-center mb-lg-auto" href="../home/index.html" aria-label="Front">
          <img src="assets/img/logo.png" alt="">
            <!-- <span class="brand brand-light">Front</span> -->
          </a>
          <!-- End Logo -->

          <p class="small text-white-50 mb-0">© Teetz. 2019 teetzz<br>All rights reserved.</p>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-7 mb-md-0">
          <h3 class="h6 text-white">About</h3>

          <!-- List Group -->
          <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <li><a class="list-group-item list-group-item-action" href="../pages/about-agency.html">Why us</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Our Team</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/careers.html">Our Mission</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/grid-right-sidebar.html">Blog</a></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-7 mb-md-0">
          <h3 class="h6 text-white">Services</h3>

          <!-- List Group -->
          <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <li><a class="list-group-item list-group-item-action" href="../account/dashboard.html">Dental Implants</a></li>
            <li><a class="list-group-item list-group-item-action" href="../account/my-tasks.html">Root Canal</a></li>
            <li><a class="list-group-item list-group-item-action" href="../account/projects.html">Teeth Whitening</a></li>
            <li><a class="list-group-item list-group-item-action" href="../account/invite-friends.html">Wisdom Teeth</a></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <h3 class="h6 text-white">Contacts</h3>

          <!-- Address -->
          <address class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <a class="list-group-item list-group-item-action" href="#">+1 (062) 109-9222</a>
            <a class="list-group-item list-group-item-action" href="mailto:support@htmlstream.com">support@teetz.com</a>
            <a class="list-group-item list-group-item-action" href="#">153 Williamson Plaza, Maggieberg, MT 09514</a>
          </address>
          <!-- End Address -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->
</footer>
<!-- ========== END FOOTER ========== -->


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-migrate.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/slick.js"></script>
<script src="assets/js/svg-injector.min.js"></script>
<script src="assets/js/hs.megamenu.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<!-- JS Front -->
<script src="assets/js/hs.core.js"></script>
<script src="assets/js/hs.slick-carousel.js"></script>
<script src="assets/js/hs.header.js"></script>
<script src="assets/js/hs.unfold.js"></script>
<script src="assets/js/hs.svg-injector.js"></script>
<script src="assets/js/hs.fancybox.js"></script>

<script>
  $(window).on('load', function () {

    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 767.98,
      hideTimeOut: 0
    });

        // initialization of svg injector module
        $.HSCore.components.HSSVGIngector.init('.js-svg-injector');

    
  });

  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
    $.HSCore.components.HSFancyBox.init('.js-fancybox');

    $.HSCore.components.HSHeader.init($('#header'));

    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
  });
</script>
  </body>
</html>