@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size:18px;
	line-height:28px;
	letter-spacing:0.5px;
}
.btn-primary{
	background:#ffb606;
	border:none;
}
.btn-whatsapp{
	background:#00af87;
}
section{
	padding:60px 0;
}
.heading h2{
	font-family: 'Playball', cursive;
	font-size:38px;
	margin-bottom:25px;
	
}
/*navbar*/
.navbar .navbar-nav .nav-item{
	margin:auto 20px;
}
.navbar .navbar-nav .nav-item.active a,.navbar .navbar-nav .nav-item:hover a{
	color:#ffb606;
}
.navbar .navbar-nav .nav-item a{
	color:#ddd;
}
.navbar .navbar-brand{
	color:#ffb606;
}
.nav-bg{
	background:#000;
	transition: 0.3s linear ;
}
header{
	position:fixed;
	top:0;
	width:100%;
	background:transparent;
	z-index:555;
}
.header-bg{
	position:relative;
	height:100vh;
	background:url("images/header-bg.webp")no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
.header-content{
	width:50%;
	color:#fff;
}
.header-content h1{
	font-family: 'Playball', cursive;
	font-size:52px;
	letter-spacing: 2px;
	margin-bottom:20px;
}
.header-content h1 span{
	color:#ffb606;
}
.header-bg{
	display: flex;
	align-items: center;
}
.header-bg .container{
	z-index:43;
}
.header-bg:after{
	position:absolute;
	content:"";
	background:url("images/white-shape.png")no-repeat;
	background-position: bottom;
	width:100%;
	height:100%;
	bottom:0;
	left:0;
	z-index:85;
}
.overlay{
	position:absolute;
	background:rgba(0,0,0,0.7);
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:42;
}

/*About Us*/
#about{
	position:relative;
}
#about .fa{
	color:#ffb606;
}
#aminities{
	background:#f4f4f4;
}

#aminities .list li{
	padding:5px 0;
}
#aminities .list li::marker{
	color:#ffb606;
}
.terms{
	padding-left:20px;
	border-bottom:2px solid #ffb606;

}
.terms:last-of-type{
	border:none;
}
.terms li{
	padding:5px 0;
	font-size:16px;
}
#image-gallery .modal-footer{
	display: block;
  }
  
  .thumb{
	margin-top: 15px;
	margin-bottom: 15px;
  }
  #termsCondition{
	  position:relative;
	  background:rgb(27, 27, 27);
	  color:#fff;
	  padding-top:100px;
  }
  #termsCondition:after{
	  position:absolute;
	  content:"";
	  background:url("images/white-shape-bottom.png")no-repeat;
	  top:0;
	  width:100%;
	  height:30%;
  }
  #termsCondition .terms b{
	  color:#ffb606;
  }
  #contactForm .d-flex input{
	width:24%;
  }
#contactForm .d-flex{
	flex-wrap:wrap;
	justify-content: space-between;
}
#contactForm .social{
	padding-top:60px;
}
#contactForm .social .d-flex{
	justify-content: center;	
}
#contactForm .social .d-flex a{
	margin:0 10px;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:50%;
	color:#fff;
}
#contactForm .social .d-flex a:nth-of-type(1){
	background:#3b5998;
}
#contactForm .social .d-flex a:nth-of-type(2){
	background: #e95950;
}
#contactForm .social .d-flex a:nth-of-type(3){
	background: #075e54;
}
#contactForm .social .d-flex a:nth-of-type(4){
	background: #00af87;
}
#contactForm .social .d-flex a:nth-of-type(5){
	background: #ffb606;
}
#footer{
	background: rgb(32, 32, 32);
	color:#fff;
	position: relative;
	padding-bottom:0;
	overflow: hidden;
}
#footer a{
	color:#ffb606;
}
#footer h5{
	color:#ddd;
}
#footer p{
	font-size:16px;
}
#footer::before{
	position:absolute;
	content:"";
	width:300px;
	height:238px;
	bottom:0;
	right:0;
	background:url("images/tent.svg")no-repeat;
	background-size:cover;
}
footer{
	background:#000;
	font-size:14px;
	color:#fff;
}